@media only screen and (max-width:600px) {
    .apparel-container {
        grid-template-rows: 15% 26% 58%;
        grid-template-columns: 1fr;
    }
    .apparel-nav{
        grid-column: 1;
        padding: 20px;
        grid-row: 1/2;
    }
    .apparel-overview {
        grid-column: 1;
        padding: 0;
        grid-row: 3/4;
        text-align: center;
        margin-top: 20px;
    }
    .apparel-image {
        grid-row: 2/3;
        margin-top: 20px;
    }
    .apparel-image img {
        object-fit:cover;
        height: 100%;
        width: 100%;
    }
    .overview-primary, .overview-secondary {
        font-size: 32px;
        margin: 0;
    }
    .apparel-form {
        text-align: left;
    }
}